/* TODO: Use CSS Grid to fix missing arrows caused by overflow-x. */
.diagram-cont {
  overflow-x: auto;
  padding-top: 20px;
  margin-bottom: 30px;
}
.diagram {
  position: relative;
}
.diagram-row {
  white-space: nowrap;
}
.diagram-cell {
  vertical-align: top;
  display: inline-block;
  width: 250px;
  height: 92px;
  text-align: center;
  white-space: normal;
  padding-right: 40px;
  padding-bottom: 30px;
}
.diagram-cell .button {
  height: 62px;
  width: 100%;
  white-space: normal;
  border-width: 2px;
  border-color: black;
  position: relative;
}
.diagram-cell .button .badge {
  position: absolute;
  bottom: -10px;
  right: 5px;
  background: inherit;
}
.diagram-cell .button .badge.fa-sliders-h {
  padding: 0 1px;
}
.diagram-cell .button .status {
  position: absolute;
  top: -13px;
  right: -9px;
}
.diagram-cell .button:hover {
  border-color: gray;
}
.diagram-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.is-dashed {
  border-color: gray !important;
  border-style: dashed;
}

svg #arrow {
  fill:black;
}
svg #hollowArrow {
  stroke:black;
  stroke-width: 1px;
  fill: white;
}
svg .arrow-path {
  stroke:black;
  stroke-width: 2px;
  fill: none;
  marker-end: url(#arrow);
}
svg .ext-arrow-path {
  stroke:black;
  stroke-width: 2px;
  fill: none;
  marker-end: url(#hollowArrow);
  stroke-dasharray: 6px;
}
