nav.navbar.has-shadow {
  box-shadow: 0px 0px 4px grey;
}

.slider {
  max-width: 640px;
}

input[type="range"].is-fullwidth {
  width: 100%;
}
input[type="number"] {
  width: 67px;
}

td.is-gap > * {
  position: relative;
  top: 26px;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: 1px;
}

.is-va-middle {
  vertical-align: middle !important;
}
.is-va-center {
  align-items: center !important;
}
.is-cursor-pointer {
  cursor: pointer;
}

.is-flex.is-space-between {
  justify-content: space-between;
}
.is-flex-one {
  flex: 1;
}
.is-flex {
  display: flex !important;
}
