/* TODO: Use CSS Grid to fix missing arrows caused by overflow-x. */
.diagram-cont {
  overflow-x: auto;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin: 0 -1.5rem;
}
.diagram {
  position: relative;
  display: inline-block;
  text-align: left;
}
.diagram-row {
  white-space: nowrap;
  display: inline-block;
}
.diagram-cell {
  vertical-align: top;
  display: inline-block;
  width: 210px;
  height: 92px;
  text-align: center;
  white-space: normal;
  padding-right: 40px;
  padding-bottom: 30px;
}
.diagram-cell.value-cell:last-child {
  width: 62px;
  padding: 0px;
  margin-left: -12px;
}
.diagram-cell.value-cell:not(:last-child) .button {
  width: 62px;
  margin-left: -12px;
}
.diagram-cell.value-cell.shift-back {
  margin-left: -51px;
}
.diagram-cell .button {
  height: 62px;
  width: 100%;
  white-space: normal;
  border-width: 2px;
  border-color: black;
  position: relative;
  box-shadow: 0px 4px 9px -4px grey;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.diagram-cell.value-cell .button {
  border-radius: 62px;
  padding-top: 13px;
}
.diagram-cell .button .badge {
  position: absolute;
  bottom: -15px;
  right: 7px;
  background: inherit;
}
.diagram-cell .button .badge2 {
  right: 27px;
  bottom: -15px;
  width: 13px;
  text-align: center;
  white-space: nowrap;
  padding-left: 1px;
  background-color: rgba(255, 255, 255, 0.7);
}
.diagram-cell.value-cell .button .badge2 {
  right: 23px;
}
.diagram-cell .button .badge.fa-sliders-h {
  padding: 0 1px;
}
.diagram-cell .button .status {
  position: absolute;
  top: -13px;
  right: -9px;
}
.diagram-cell.value-cell .button .status {
  right: 20px;
}
.diagram-cell .button:hover {
  background-color: whitesmoke;
}
.diagram-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.is-dashed {
  border-color: gray !important;
  border-style: dashed;
}

svg #arrow {
  fill:black;
}
svg #hollowArrow {
  stroke:black;
  stroke-width: 1px;
  fill: none;
}
svg .arrow-path {
  stroke:black;
  stroke-width: 2px;
  fill: none;
  marker-end: url(#arrow);
}
svg .value-path {
  stroke:black;
  stroke-width: 2px;
  fill: none;
}
svg .ext-arrow-path {
  stroke:black;
  stroke-width: 2px;
  fill: none;
  marker-end: url(#hollowArrow);
  stroke-dasharray: 4px 3px;
}
