.section {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1.5rem;
}
#disqus_thread.section {
  margin-top: -35px;
  padding-bottom: 0;
  padding-top: 0;
}

nav.navbar.has-shadow {
  box-shadow: 0px 0px 4px grey;
}

.tooltip.is-tooltip-active::before,
.tooltip:hover::before {
  font-size: 1rem;
}

.expand {
  flex-grow: 1;
}

.tabs ul {
	flex-shrink: 1;
	flex-wrap: wrap;
	/* border-bottom-color: transparent; */
  justify-content: center;
}
.tabs.is-boxed a {
  border-bottom-color: #dbdbdb;
}
.tabs.is-boxed li {
  margin-top: 5px;
}

input[type="range"].is-fullwidth {
  width: 100%;
  transform: scaleY(1.4);
  padding-top: 5px;
  padding-bottom: 5px;
}
input[type="number"] {
  width: 67px;
}

td.is-gap > * {
  position: relative;
  top: 26px;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: 1px;
}

.is-va-middle {
  vertical-align: middle !important;
}
.is-va-center {
  align-items: center !important;
}
.is-cursor-pointer {
  cursor: pointer;
}

.is-flex.is-space-between {
  justify-content: space-between;
}
.is-flex-one {
  flex: 1;
}
.is-flex {
  display: flex !important;
}
